
.heading {
  text-align: center;
  text-shadow: 1px 1px;
  color: darkred;
}

.heading h3 {
  font-style: italic;
}

.completed {
  text-decoration: line-through;
}

.list {
  margin-left: 25%;
}

.form {
  margin: 0 auto;
  margin-top: 27px;
  display: flex;
  justify-content: center;
}